# Cleaning raw data to get ready for modeling

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv("/Users/sa17/Desktop/house-prices-regression/data/raw/train.csv")

df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
# Create a new dataframe with only the columns I want to predict SalePrice with. These columns are pulled from my previous knowdledge/ research on Real Estate and Multivariate Analysis

columns = ["SalePrice", "MSSubClass", "LotArea", "OverallQual", "GrLivArea", "GarageCars", "1stFlrSF", "FullBath", "TotRmsAbvGrd", "YearBuilt", "YearRemodAdd", "Foundation", "Fireplaces", "ExterQual", "Neighborhood"]

new_df = df[columns]

new_df

,SalePrice,MSSubClass,LotArea,OverallQual,GrLivArea,GarageCars,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,Foundation,Fireplaces,ExterQual,Neighborhood
0,208500,60,8450,7,1710,2,856,2,8,2003,2003,PConc,0,Gd,CollgCr
1,181500,20,9600,6,1262,2,1262,2,6,1976,1976,CBlock,1,TA,Veenker
2,223500,60,11250,7,1786,2,920,2,6,2001,2002,PConc,1,Gd,CollgCr
3,140000,70,9550,7,1717,3,961,1,7,1915,1970,BrkTil,1,TA,Crawfor
4,250000,60,14260,8,2198,3,1145,2,9,2000,2000,PConc,1,Gd,NoRidge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000,60,7917,6,1647,2,953,2,7,1999,2000,PConc,1,TA,Gilbert
1456,210000,20,13175,6,2073,2,2073,2,7,1978,1988,CBlock,2,TA,NWAmes
1457,266500,70,9042,7,2340,1,1188,2,9,1941,2006,Stone,2,Ex,Crawfor
1458,142125,20,9717,5,1078,1,1078,1,5,1950,1996,CBlock,0,TA,NAmes
1459,147500,20,9937,5,1256,1,1256,1,6,1965,1965,CBlock,0,Gd,Edwards

In [4]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SalePrice     1460 non-null   int64
 1   MSSubClass    1460 non-null   int64
 2   LotArea       1460 non-null   int64
 3   OverallQual   1460 non-null   int64
 4   GrLivArea     1460 non-null   int64
 5   GarageCars    1460 non-null   int64
 6   1stFlrSF      1460 non-null   int64
 7   FullBath      1460 non-null   int64
 8   TotRmsAbvGrd  1460 non-null   int64
 9   YearBuilt     1460 non-null   int64
 10  YearRemodAdd  1460 non-null   int64
 11  Foundation    1460 non-null   object
 12  Fireplaces    1460 non-null   int64
 13  ExterQual     1460 non-null   object
 14  Neighborhood  1460 non-null   object
dtypes: int64(12), object(3)
memory usage: 171.2+ KB

In [5]:
new_df.describe()

,SalePrice,MSSubClass,LotArea,OverallQual,GrLivArea,GarageCars,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,Fireplaces
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,180921.195890,56.897260,10516.828082,6.099315,1515.463699,1.767123,1162.626712,1.565068,6.517808,1971.267808,1984.865753,0.613014
std,79442.502883,42.300571,9981.264932,1.382997,525.480383,0.747315,386.587738,0.550916,1.625393,30.202904,20.645407,0.644666
min,34900.000000,20.000000,1300.000000,1.000000,334.000000,0.000000,334.000000,0.000000,2.000000,1872.000000,1950.000000,0.000000
25%,129975.000000,20.000000,7553.500000,5.000000,1129.500000,1.000000,882.000000,1.000000,5.000000,1954.000000,1967.000000,0.000000
50%,163000.000000,50.000000,9478.500000,6.000000,1464.000000,2.000000,1087.000000,2.000000,6.000000,1973.000000,1994.000000,1.000000
75%,214000.000000,70.000000,11601.500000,7.000000,1776.750000,2.000000,1391.250000,2.000000,7.000000,2000.000000,2004.000000,1.000000
max,755000.000000,190.000000,215245.000000,10.000000,5642.000000,4.000000,4692.000000,3.000000,14.000000,2010.000000,2010.000000,3.000000

In [6]:
new_df.shape

(1460, 15)

In [7]:
# Checking for null values 
null_values = new_df.isna().sum()

null_values

SalePrice       0
MSSubClass      0
LotArea         0
OverallQual     0
GrLivArea       0
GarageCars      0
1stFlrSF        0
FullBath        0
TotRmsAbvGrd    0
YearBuilt       0
YearRemodAdd    0
Foundation      0
Fireplaces      0
ExterQual       0
Neighborhood    0
dtype: int64

In [8]:
# Remove outliers in SalePrice. Gain insights from Sale Price Distrubution graph 
Q1 = new_df["SalePrice"].quantile(0.25)
Q3 = new_df["SalePrice"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

clean_df = new_df[(new_df["SalePrice"] >= lower_bound) & (new_df["SalePrice"] <= upper_bound)]

clean_df

,SalePrice,MSSubClass,LotArea,OverallQual,GrLivArea,GarageCars,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,Foundation,Fireplaces,ExterQual,Neighborhood
0,208500,60,8450,7,1710,2,856,2,8,2003,2003,PConc,0,Gd,CollgCr
1,181500,20,9600,6,1262,2,1262,2,6,1976,1976,CBlock,1,TA,Veenker
2,223500,60,11250,7,1786,2,920,2,6,2001,2002,PConc,1,Gd,CollgCr
3,140000,70,9550,7,1717,3,961,1,7,1915,1970,BrkTil,1,TA,Crawfor
4,250000,60,14260,8,2198,3,1145,2,9,2000,2000,PConc,1,Gd,NoRidge
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000,60,7917,6,1647,2,953,2,7,1999,2000,PConc,1,TA,Gilbert
1456,210000,20,13175,6,2073,2,2073,2,7,1978,1988,CBlock,2,TA,NWAmes
1457,266500,70,9042,7,2340,1,1188,2,9,1941,2006,Stone,2,Ex,Crawfor
1458,142125,20,9717,5,1078,1,1078,1,5,1950,1996,CBlock,0,TA,NAmes
1459,147500,20,9937,5,1256,1,1256,1,6,1965,1965,CBlock,0,Gd,Edwards

In [9]:
# One-hot encode all categorical columns 
cat_columns = clean_df.select_dtypes(include=["object"]).columns

encoder = OneHotEncoder(sparse_output=False, handle_unknown="ignore") 

# Fit, transform and create a new dataframe 
onehot = encoder.fit_transform(clean_df[cat_columns])

onehot_df = pd.DataFrame(onehot, columns=encoder.get_feature_names_out(cat_columns), index=clean_df.index)

# Add the one-hot encoded columns to the original DataFrame and drop original categorical columns
encoded_df = pd.concat([clean_df.drop(columns=cat_columns), onehot_df], axis=1)

encoded_df

,SalePrice,MSSubClass,LotArea,OverallQual,GrLivArea,GarageCars,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
0,208500,60,8450,7,1710,2,856,2,8,2003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,181500,20,9600,6,1262,2,1262,2,6,1976,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,223500,60,11250,7,1786,2,920,2,6,2001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,140000,70,9550,7,1717,3,961,1,7,1915,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,250000,60,14260,8,2198,3,1145,2,9,2000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,175000,60,7917,6,1647,2,953,2,7,1999,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1456,210000,20,13175,6,2073,2,2073,2,7,1978,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1457,266500,70,9042,7,2340,1,1188,2,9,1941,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1458,142125,20,9717,5,1078,1,1078,1,5,1950,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1459,147500,20,9937,5,1256,1,1256,1,6,1965,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
encoded_df.describe()

,SalePrice,MSSubClass,LotArea,OverallQual,GrLivArea,GarageCars,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,...,Neighborhood_NoRidge,Neighborhood_NridgHt,Neighborhood_OldTown,Neighborhood_SWISU,Neighborhood_Sawyer,Neighborhood_SawyerW,Neighborhood_Somerst,Neighborhood_StoneBr,Neighborhood_Timber,Neighborhood_Veenker
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,...,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,170237.127234,57.487491,10155.280915,5.983560,1474.413867,1.717655,1132.247320,1.540386,6.416726,1970.080772,...,0.021444,0.035740,0.080057,0.017870,0.052895,0.042173,0.060043,0.011437,0.025018,0.007148
std,59230.130817,42.803603,8324.834198,1.282272,480.552421,0.721365,357.318243,0.537219,1.544766,30.009463,...,0.144911,0.185707,0.271479,0.132526,0.223904,0.201056,0.237651,0.106367,0.156235,0.084273
min,34900.000000,20.000000,1300.000000,1.000000,334.000000,0.000000,334.000000,0.000000,2.000000,1872.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,129000.000000,20.000000,7442.000000,5.000000,1119.000000,1.000000,870.500000,1.000000,5.000000,1953.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,159500.000000,50.000000,9317.000000,6.000000,1437.000000,2.000000,1069.000000,2.000000,6.000000,1971.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,203500.000000,70.000000,11316.500000,7.000000,1728.000000,2.000000,1346.500000,2.000000,7.000000,1999.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,340000.000000,190.000000,164660.000000,10.000000,5642.000000,4.000000,4692.000000,3.000000,14.000000,2009.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
encoded_df.to_csv("/Users/sa17/Desktop/house-prices-regression/data/processed/newtrain.csv", index= False)